<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous" />
<link rel="stylesheet" th:href="@{/css/login.css}" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>

<head>
    <title>Alkemy University - Log in</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <div th:fragment="content">
        <form class="form" name="f" th:action="@{/login}" method="post">
            <fieldset id="fondo">
                <legend>Por favor logueate</legend>
                <div th:if="${param.error}" class="alert alert-danger">
                    Datos incorrectos.
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    Fuiste deslogueado correctamente.
                </div>
                <img th:src="@{/images/alkemylogo.png}" />
                <input type="text" id="username" name="username" placeholder="DNI" />
                <input type="password" id="password" name="password" placeholder="Legajo" />
                <button type="submit">Log in</button>
            </fieldset>
        </form>
    </div>

</body>

</html>